#main-header {
    font-size: 30px;
    line-height: 24px;
    text-align: left;
    padding-bottom: 40px;
    width: 500px;
    margin: auto;
}

#body-text {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    padding-bottom: 20px;
    width: 500px;
    margin: auto;
}

#input-box {
    height: 30px;
    width: 400px;
    background-color: aqua;
}

.block {
    width: 450px;
    height: 230px;
    margin: auto;
    padding: 40px;
    margin-top: 40px;
    border: 5px solid #aaaaaa;
    border-radius: 10px;
    background-color :khaki;
}

.block button.block-button {
    margin-left: 0px;
    margin-top: 10px;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    background-color: green;
    font-size: 20px;
}